<script setup lang="ts">
import axios from '../service/axios';

import { ref } from 'vue'

const bodyfat = ref({
    Weight : 0.0,
    Chest : 0.0,
    Abdomen : 0.0,
    Hip : 0.0,
    Thigh : 0.0
})

const Predicton = ref<{Answer: String}>({Answer: ''})
const isActive = ref(false)

async function submit(item :any){
    
     try{
        const res =  await axios.getItem(item)
        Predicton.value = res.data
        console.log(Predicton.value)
        isActive.value = true
     }catch(e){
        console.log(e)
        isActive.value = false
     }
}

</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar color="green-lighten-2" class="d-flex align-center justify-center"
      ><h1 class="mx-auto">BODY FAT PREDICTION</h1></v-app-bar
    >

    <v-main   :class="['d-flex align-center justify-center', 'v-main']">
      <v-container fluid>
        <v-card class="mx-auto" prepend-icon="mdi-home" width="420" height="820px" border="">
          <v-row>
            <v-col>
              <h1 style="text-align: center ;color: #1B5E20;"> Fill in your information </h1>
            </v-col>
          </v-row>
          <v-row>
            <v-responsive  class="mx-auto" max-width="344">
              <h3 style="margin-top: 5px"> Weight (lbs)</h3>
              <v-text-field style="margin-top: 5px" hide-details="auto" label="" type="float" v-model="bodyfat.Weight"></v-text-field>
            </v-responsive>
          </v-row>
          <v-row>
            <v-responsive class="mx-auto" max-width="344">
              <h3 style="margin-top: 10px"> Chest (cm)</h3>
              <v-text-field style="margin-top: 5px" hide-details="auto" label="" v-model="bodyfat.Chest"></v-text-field>
            </v-responsive>
          </v-row>
          <v-row>
            <v-responsive class="mx-auto" max-width="344">
              <h3 style="margin-top: 10px"> Abdomen (cm) </h3>
              <v-text-field style="margin-top: 5px" hide-details="auto" label="" v-model="bodyfat.Abdomen"></v-text-field>
            </v-responsive>
          </v-row>
          <v-row>
            <v-responsive class="mx-auto" max-width="344">
              <h3 style="margin-top: 10px"> Hip (cm) </h3>
              <v-text-field style="margin-top: 5px" hide-details="auto" label="" v-model="bodyfat.Hip"></v-text-field>
            </v-responsive>
          </v-row>
          <v-row>
            <v-responsive class="mx-auto" max-width="344">
              <h3 style="margin-top: 10px"> Thigh (cm)</h3>
              <v-text-field style="margin-top: 5px" hide-details="auto" label="" v-model="bodyfat.Thigh"></v-text-field>
            </v-responsive>
          </v-row>
          <v-row style="margin-top: 30px">
            <v-responsive class="mx-auto" max-width="240">
              <v-btn
                style="font-size: 120%"
                height="52px"
                width="221px"
                color="green-darken-1"
                class="ma-2"
                @click="submit(bodyfat)"
              >
                PREDICTION
              </v-btn>
            </v-responsive>
          </v-row>
          <v-row>
            <v-responsive class="mx-auto" max-width="300">
              <v-card color="#C8E6C9" class="pa-2 justify-center text-center" width="300">
                <h2> Answer  </h2>
                <h2 style="margin-top: 3%">{{ Number(Predicton.Answer).toFixed(2) }}</h2>
              </v-card> </v-responsive
            >
          </v-row>
        </v-card>
      </v-container>
    </v-main>
  </v-layout>
  <!-- <v-card
    style="width: 1980px; height: max-content; margin-top: 4%"
    class="d-flex align-center justify-center"
    flat
  >
    <v-container>
      <v-row>
        <v-app-bar :elevation="2" style="height: 95px" color="#A5D6A7">
          <template v-slot:prepend> </template>

          <v-app-bar-title style="margin-left: 40%; height: 80%; margin-top: 40px"
            ><p1 style="font-size: 30px">BODY FAT PREDICTION</p1></v-app-bar-title
          >
        </v-app-bar>
      </v-row>
      <v-row class="justify-center">
        <v-col>
          <v-card style="width: 657px; height: 922; margin-right: 40%">
            <p1 style="font-size: 30px; margin-right: 40%">Fill in your information</p1>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card> -->
</template>

<style scoped>
.v-main {
  background-image: 'd:\year3\Ai\BodyFat Fontend\public\1.png';
  /* ปรับขนาดของภาพพื้นหลังตามที่ต้องการ */
  background-size: cover;
  /* ใส่ความมืดแบบความทึบให้กับภาพพื้นหลัง */
  background-blend-mode: multiply;
}
</style>
