<script setup lang="ts">
import BodyFat from './views/BodyFatView.vue'
</script>

<template>
  <v-layout>
    <v-main>
      <BodyFat />
    </v-main>
  </v-layout>
</template>

<style scoped></style>
